
:root {
    --primary-color: #969696;
    --secondary-color: rgb(63, 168, 86);
    --tertiary-color: rgb(0, 0, 0);
}

body {
    background-color: var(--primary-color);
    font-size: 15px;
    font-family: sans-serif;
}

#container {
    height: 600px;
    width: 560px;
    margin: 20px ;
    background: #809BBF;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 0px 30px;
    margin-left: 20px;
}

#resultado {
    height: 595px;
    width: 700px;
    margin-top: -620px;
    background: #809BBF;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 30px 0px;
    margin-left: 600px;
    padding-top: -50px;
    
}

p {
    color: rgb(54, 54, 54);
    font-size: 20px;
    font-weight:  bold;
    background-color: rgb(121, 170, 123);
    margin-bottom: 10px;
    border: 1px solid black;
    padding-left: 20px;
}

.titulo{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 10px;
    padding-left: 30px;
    text-transform: justify;
    font-size: 30px;
}

h2{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    padding: 10px;
    padding-left: 30px;
    text-transform: justify;
    font-size: 30px;
    border-top-left-radius: 20px;
}

h3{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight:  bold;
    background-color: rgb(121, 170, 123);
    margin-bottom: 10px;
    border: 1px solid black;
    text-align: center;
}

h4{
    background-color: #969696;
    color: var(--tertiary-color);
    padding: 10px;
    padding-left: 30px;
    text-transform: justify;
    font-size: 30px;
    border: 2px solid black;

}

h5{
    color: rgb(0, 0, 0);
    font-size: 15px;
    padding-left: 20px;
    margin-right: 10px;
}

h6{
    font-size:15px;
    font-family: arial,sans-serif;
    font-weight: 100;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

select {
    font-size: 20px ;
    text-indent: 10px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    width: 530px;
}

Input{
    padding: 5px;
    font-size: 15px;
}
Input:focus {
    border: 3px solid var(--secondary-color);
    outline: none;
}

button{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 25px;
    display: block;
    margin: 30px auto;
    background: var(--primary-color);
    border-radius: 20px;
    width: 200px;

}

.formInput:hover{
    border-radius: 3px;
    border-color: aqua;
}

#resultados {
    border-top-left-radius: 20px;
    height: 28px;
}

#inicio {
    border-top-right-radius: 20px;

}
.boxs{
    margin: auto
}